body {
  background: rgb(221, 208, 217);
}
header {
  text-align: center;

  color: white;
  margin-bottom: 40px;
}

#imagesSection {
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
}
img {
  width: 300px;
  height: 300px;
  border: 10px solid rgb(81, 38, 182);
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

  
  header {
    text-align: center;
  
    color: rgb(73, 21, 60);
    margin-bottom: 5px;
  }
  
  header nav ul {
    list-style: none;
    
  }

  #imagesSection {
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  img {
    width: 300px;
    height: 300px;
    border: 10px solid rgb(182, 18, 54);
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
  }

  


  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(145, 108, 108);
    
  }
  
  li a {

    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
  }
  

  li a:hover {
    background-color: rgb(155, 124, 124);
  }
  nav{
    border: 1px solid #301e1e;
 
  }